// max-width: 1280px;
.header {
  // margin: 0 auto;
  height: 75px;
  background-color: #FFFFFF;
  opacity: 1;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.3vw;
  height: 100%;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -8px;
}
.header__item {
  padding: 0 16px 2px;
  // border-bottom: 2px solid #A26C54;
}

.header__list {
  // display: none;
}

// ハンバーガーメニュー
.p-hamburger__line {
  position: absolute;
  width: 18px; /* お肉の幅 */
  height: 2px; /* お肉の高さ */
  background-color: #505050;
  -webkit-transition: inherit;
          transition: inherit;
}
.p-hamburger__line::before,
.p-hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
          transition: inherit;
}

.p-hamburger__line::before {
  top: -5px;
}

.p-hamburger__line::after {
  top: 5px;
}

.p-drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  -webkit-transition: transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

.is-drawerActive .p-drawer {
  transform: translateX(0);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #505050;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}