.service__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.service__item {
  width: calc((100%/3) - 20px);
  border: #CCCCCC 1px solid;
}
.service__title {
  text-align: center;
}
.service__text {
  padding: 20px 20px 30px;
}

@include mq-down($breakpoint: md) {
  .service__list {
    flex-direction: column;
  }
  .service__item {
    width: 80%;
    margin-bottom: 20px;
  }
  .service__title {
    padding-top:30px 
  }
}