body {
  font-family: "游ゴシック体";
}
.section__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(37, 48, false, 0);
  color: #A26C54;
}
.section__text {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  font-family: "游ゴシック体";
  color: #505050;
}

/************* header **************/  
.main__title{
  text-align: left;
  font-family: "Lato";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(33, 48, false, 0);
  color: #505050;
}
.header__item > a {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 22, false, 0);
  font-family: "Lato";
  color: #505050;
}

/************* main **************/
/* fv */
.sub__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(50, 72, false, 0);
  font-family: "Lato";
  color: #FFFFFF;
}
.fv__text {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  color: #FFFFFF;
}
.fv__btn {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(22, 37, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #FFFFFF;
}

/* about */ 
.about__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(30, 30, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #A26C54;
}
.about__text {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #505050;
}

/* works */ 
.work__text {
  @include f_around(18, 31, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #505050;
}

/* service */ 
.service__title {
  @include f_around(30, 51, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #A26C54;
}
.service__text {
  @include f_around(18, 31, false, 0);
  font-family: "游ゴシック体";
  text-align: left;
  color: #505050;
}

/* skills */
.content__title {
  font-family: "Lato";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(30, 36, false, 0);
  color: #FFFFFF;
}
.content__text {
  font-family: "游ゴシック体";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  color: #FFFFFF;
}

/* contact */ 
.contact__title {
  font-family: "Lato";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(40, 48, false ,0);
  color: #A26C54;
}
.form__textarea,
.contact__text {
  font-family: "游ゴシック体";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  color: #505050;
}
.form__label,
.form__text {
  font-family: "游ゴシック体";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 31, false, 0);
  color: #505050;
}
.form__btn {
  color: #FFFFFF;
  font-family: "游ゴシック体";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(22, 37, false, 0);
}

/************* footer **************/
.footer__item > a,
.copyright > small {
  font-family: "Lato";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(18, 22, false, 0);
  color: #FFFFFF;
}

@include mq-down($breakpoint: md) {
  /************* header **************/  
  .main__title{
    @include f_around(20, 50, false, 0);
  }
  .sub__title {
    @include f_around(35, 50, false, 0);
  } 
  .fv__text {
    @include f_around(17, 25, false, 0);
  }
  .fv__btn {
    //フォントサイズ, 行送り, 太さ, 字送り
    @include f_around(20, 20, false, 0);
  } 
}

@include mq-down($breakpoint: sm) {
  /************* header **************/  
  .main__title{
    @include f_around(20, 28, false, 0);
  }
  .sub__title {
    @include f_around(18, 20, false, 0);
  } 
  .fv__text {
    @include f_around(10, 13, false, 0);
  }
  .fv__btn {
    //フォントサイズ, 行送り, 太さ, 字送り
    @include f_around(10, 17, false, 0);
  } 
}